:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --hero-btn-accent-color: #188ce8;
  --hero-bg-color: #c4c4c4;
  --titles-color: #212121;
  --description-color: #757575;
  --white-color: #fff;
  --dark-background-color: #2f303a;
  --logo-second-part-color: #000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --filter-btn-color: #f5f4fa;
  --border-color: #eeeeee;
  --top-line-border: #ececec;
  --unactive-interactive-element: #afb1b8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

img {
  display: block;
}
/*  ============ COMPONENTS  ============ */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-second-part {
  color: var(--logo-second-part-color);
}

.section-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}

.accent:hover,
.accent:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: var(--unactive-interactive-element);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*  ============ END COMPONENTS  ============ */

/*  ============ MODAL  ============ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5) rotateX(180deg) perspective(400px);
}

.backdrop.is-hidden.modal-wrapper,
.backdrop.is-hidden.modal {
  transition: all 250ms linear;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
  transition: all 250ms linear 250ms;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: all 250ms linear 250ms;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-btn-svg {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus .close-btn-svg {
  fill: var(--accent-color);
}

.close-btn:hover .close-btn-svg {
  fill: var(--accent-color);
}

/* ============ MODAL FORM  ============*/
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
  margin-bottom: 12px;
}

.modal-form-field-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form-inp-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--description-color);
  margin-bottom: 10px;
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-message:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-user-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-user-svg {
  fill: var(--accent-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-check-policy-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-check-policy-label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/modal/flag-false.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked + .modal-check-policy-label::before {
  background-image: url(../images/modal/flag-true.svg);
}
.modal-form-policy-link {
  color: var(--accent-color);
}

.modal-form-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ============ END MODAL FORM  ============*/

/*  ============ END MODAL  ============ */

/*  ============ HEADER  ============ */

.header {
  border-bottom: 1px solid var(--top-line-border);
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.navigation .logo {
  margin-right: 90px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-list-link {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-color);
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link-svg {
  width: 16px;
  height: 16px;
  fill: var(--unactive-interactive-element);
  margin-right: 10px;
}
.header .address {
  margin-left: auto;
}

.address-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-list {
  display: flex;
}
.header-list-link:hover .header-list-link-svg {
  fill: var(--accent-color);
}
.header-list-link:focus .header-list-link-svg {
  fill: var(--accent-color);
}
/*  ============ END HEADER  ============ */

/*  ============ HERO  ============ */

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  background-color: var(--hero-bg-color);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  max-width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
  margin-bottom: 30px;
}

.modal-btn,
.modal-form-btn,
.subscribe-btn {
  display: block;
  margin: 0 auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus,
.modal-form-btn:hover,
.modal-form-btn:focus,
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hero-btn-accent-color);
}
/*  ============ END HERO  ============ */

/* ============ BENEFITS  ============*/
.benefits-list {
  display: flex;
}

.benefits-list-item {
  width: 270px;
}

.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--filter-btn-color);
  margin-bottom: 30px;
}

.benefits-list-icon-svg {
  width: 70px;
  height: 70px;
}

.benefits-list-head {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-color);
  margin-bottom: 10px;
}

.benefits-list-head:nth-child()::before {
  background-image: url(../images/benefities/antenna.svg);
}

.benefits-list-discription {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/* ============ END BENEFITS  ============*/

/* ============ WHAT WE DO  ============*/
.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
  justify-content: space-between;
}
.what-we-do-content {
  position: relative;
}

.what-we-do-text-background {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}
.what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
/* ============ END WHAT WE DO  ============*/

/* ============ TEAM  ============*/

.team {
  padding-bottom: 94px;
  background-color: var(--filter-btn-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-content {
  padding: 30px 32px;
  text-align: center;
  border-bottom: var(--border-color);
  border-right: var(--border-color);
  border-left: var(--border-color);
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-list-name {
  font-style: normal;
  font-weight: 500;
  color: var(--titles-color);
  margin-bottom: 10px;
}

.team-list-discription {
  font-style: normal;
  font-weight: 400;
  color: var(--description-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.team .social-list-link {
  background-color: var(--white-color);
}

.team .social-list-svg {
  fill: var(--unactive-interactive-element);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-svg {
  fill: var(--white-color);
}

.social-list-link:focus .social-list-svg {
  fill: var(--white-color);
}
/* ============ END TEAM  ============*/

/* ============ REGULAR CUSTOMERS  ============*/
.regular-customers {
  padding: 94px 0;
}
.regular-customers-list {
  display: flex;
  justify-content: space-between;
}
.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  background-color: var(--white-color);
  border: 1px solid var(--unactive-interactive-element);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-item-svg {
  width: 80px;
  height: 47px;
  fill: var(--unactive-interactive-element);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--accent-color);
}
.customers-list-link:hover .customers-list-item-svg {
  fill: var(--accent-color);
}
.customers-list-link:focus .customers-list-item-svg {
  fill: var(--accent-color);
}
/* ============ END REGULAR CUSTOMERS ============*/

/* ============ FOOTER  ============*/

.footer {
  background-color: var(--dark-background-color);
}

.footer-content {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left-side {
  margin-right: 70px;
}

.footer-content .logo {
  display: block;
  margin-bottom: 20px;
}
.footer-content .logo .logo-second-part {
  color: var(--white-color);
}

.footer-address-list {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-map-link {
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link {
  color: var(--footer-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join {
  padding-top: 12px;
  margin-right: 93px;
}

.footer-join-header,
.subscribe-title {
  font-weight: 700;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-svg {
  fill: var(--white-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  transform: rotate(-360deg);
}

.social-list-link:hover .social-list-svg {
  fill: var(--white-color);
}

.social-list-link:focus .social-list-svg {
  fill: var(--white-color);
}

.subscribe {
  padding-top: 12px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
  margin-right: 12px;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.subscribe-input:focus {
  border: 1px solid var(--accent-color);
}

.subscribe-btn {
  display: inline-block;
}

.subscribe-btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/footer/send-footer.svg);
  vertical-align: middle;
}
/* ============ END FOOTER  ============*/

/* ====================== PORTFOLIO PAGE  ========================*/
/* ============ PORTFOLIO SECTION  ============*/

.portfolio {
  padding-bottom: 94px;
}

/* ============ END PORTFOLIO SECTION  ============*/
/* ============ FILTERS  ============*/
.filters {
  margin-bottom: 50px;
}

.filters-list {
  display: flex;
  justify-content: center;
}

.filters-list-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  border: none;
  background-color: var(--filter-btn-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ============ END FILTERS  ============*/

/* ============ PROJECTS  ============*/

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects-list-item {
  display: inline-block;
  margin: 14px;
}

.projects-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-link:hover .overlay-content {
  transform: translatey(0%);
  overflow: auto;
}

.projects-list-link:focus .overlay-content {
  transform: translatey(0%);
  overflow: auto;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-content {
  position: absolute;
  top: 0;
  bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-content {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.projects-header {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.projects-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/* ============ END PROJECTS  ============*/
